---
import type { GetStaticPaths } from 'astro';
import { Playground } from '../../components/Playground';
import SiteNav from '../../components/SiteNav.astro';
import '../../styles/global.css';
import {
  locales,
  supportedLocales,
  defaultLocale,
  getTranslation,
  type Locale,
} from '../../i18n/translations';

export const getStaticPaths = (() => {
  return supportedLocales
    .filter((locale) => locale !== defaultLocale)
    .map((locale) => ({
      params: { locale },
    }));
}) satisfies GetStaticPaths;

const locale = Astro.params.locale as Locale;
const t = getTranslation(locale);
const localeInfo = locales[locale];
---

<html lang={locale} dir={localeInfo.dir} class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{t.playground.title} | contenteditable lab</title>
  </head>
  <body class="h-full m-0 flex flex-col">
    <SiteNav />
    <main class="flex-1 max-w-[1280px] w-full mx-auto px-5 pt-4 box-border flex flex-col min-h-0">
      <Playground client:load />
    </main>
  </body>
</html>

