---
import { Playground } from '../components/Playground';
import SiteNav from '../components/SiteNav.astro';
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

const siteTitle = 'contenteditable lab – global playground';
---

<html lang="en" style="height: 100%;">
  <head>
    <BaseHead title={siteTitle} description="Interactive playground to test contenteditable behavior." />
  </head>
  <body style="height: 100%; margin: 0; display: flex; flex-direction: column;">
    <SiteNav />
    <main
      style="
        flex: 1;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 1.25rem 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
      "
    >
      <Playground client:load />
    </main>
  </body>
</html>


