---
import { Playground } from '../components/Playground';
import SiteNav from '../components/SiteNav.astro';
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

const siteTitle = 'contenteditable lab – global playground';
---

<html lang="en" class="h-full">
  <head>
    <BaseHead title={siteTitle} description="Interactive playground to test contenteditable behavior." />
  </head>
  <body class="h-full m-0 flex flex-col">
    <SiteNav />
    <main class="flex-1 max-w-[1280px] w-full mx-auto px-5 pt-4 box-border flex flex-col min-h-0">
      <Playground client:load />
    </main>
  </body>
</html>


